# Dependencies
node_modules
dist
dist-ssr
*.local

# Production
.env
# database.sqlite (Included for initial migration)
public/screenshots/*
!public/screenshots/.gitkeep

# OS
.DS_Store
Thumbs.db

# Misc
.env.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
